
ul.nav-pills >li{


    display: inline-block;
    list-style: none;
    margin-top: 3%;
    margin-right: 3%;
    

    
}

 .row{
                /*
                responsive 
                */
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;

            background-color: white;
            box-shadow: 0px 2px 4px;
            width: 95%;
            margin-left: 2.5%;
            margin-top: -1.5%;

        }


h1{

    margin-left: 43%;
    
    height: 20%;
}

#pricing-table {
  margin:auto;
  margin-top: 9%;
  text-align: center;
  width: 892px; /* total computed width = 222 x 3 + 226 */
}


    #pricing-table h1 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}









        